* {
	padding: 0;
	margin: 0;
}

.icon {
	width: 25px;
}

nav {
	width: 100%;
}

.nav-list > .active{
    position: relative;
}

.nav-list > a{
}

.brand > .logo {
	height: 65px;
	padding: 16px 0;
}


a {
	text-decoration: none;
}

.line-height-base{
	line-height: 1.5em;
}

.black-color--text{
	color: white;
}

.white-color--text{
	color: #ffffff;
}
.bg-primary{
	background-color: #01213d;
}
.bg-dark-primary{
	background-color: #021a30;
}

.text-center {
	text-align: center;
}

.flex{
	display: flex;
}

.justify-space-between{
	justify-content: space-between;
}


.justify-center{
	justify-content: center;
}

.align-items-center{
	align-items: center;
}

.row > * {
	display: inline-block;
}

.hamburger-nav {
	display: none;
}

.hamburger-nav img {
	height: 24px;
}

.tulisan {
	font-size: 20px;
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .row > * {
		display: block;
	}

	footer .w-40 {
		width: 100%;
	}

	footer .flex {
		display: inherit;
	}

	footer .logo-footer{
		margin-bottom: 16px;
	}

	.hamburger-nav {
	display: block;
}
	  nav {
	    display: block!important;
	  }

	  nav > .open{
	    display: inline-block!important;
	    width: 100%!important;
	    padding-bottom: 24px;
	  }



	  .nav-list{
	    display: none!important;
	    width: 100%!important;
	  }

	  .nav-list a{
	    padding-top: 16px;
	    padding-bottom: 16px;
	    display: inline-block!important;
	    width: 100%!important;
	  }
}