

.item > img {
  height: 262px;
  width: 100%;
  object-fit: cover;
  object-position: 50% 10%;
  border-radius: 24px;
}

.item > p {
  margin-top: 8px;
  margin-bottom: 16px;
  color: white;
  font-size: 19px;
  font-weight: 700;
}


.judul_gridlist{
  margin-top: 16px;
  margin-bottom: 32px;
  color: white;
  font-size: 22px;
  font-weight: 700;
}

.text-header{
	font-size: 50px;
}

.main-3{
  background-image: url('./web_makanan/gambar/bg3.png');
}

.item:hover {
transform: scale(1.1);
transition: 0.5s;
}

@media only screen and (min-width: 768px) {
  /* For mobile phones: */
  .gridlist{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
  }

}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .gridlist{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }



}